* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
  background-color: #f0f1ff;
  height: 600px, 500px;
  background-size: 300px;
  background-repeat: no-repeat, no-repeat;
  background-position: right, bottom left;
}

.title {
  margin: 15px;
  color: hsl(235, 4%, 49%);
  font-size: 20px;
  text-align: center;
}

.ToggleBtn {
  margin: 15px;
  padding: 5px;
  font-size: 15px;
  color: hsl(231, 5%, 73%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  cursor: pointer;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.plan-available {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.plan-available .plans,
.plan-available .professional {
  width: 300px;
  height: 370px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(234, 14%, 74%);
  text-align: center;
  padding: 20px;
}

.plan-available .professional .content {
  padding: 13px;
}
.plan-available .plans {
  background-color: white;
  color: hsl(233, 13%, 49%);
}

.plan-available .professional {
  background: linear-gradient(to left, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
  color: white;
  height: 400px;
}

.plan-available .plans .price,
.plan-available .professional .price {
  font-size: 50px;
  padding: 10px;
  border-bottom: 1px solid #eeeef1;
}

.plan-available .plans .price {
  color: hsl(232, 13%, 33%);
}

.plan-available .plans .dollar {
  font-size: 30px;
  vertical-align: middle;
}

.plan-available .professional .price .dollar {
  font-size: 30px;
  vertical-align: middle;
}

.plan-available .plans .list .item,
.plan-available .professional .list .item {
  padding: 20px;
  border-bottom: 1px solid #eeeef1;
}

.plan-available .plans .button,
.plan-available .professional .button {
  margin-top: 30px;
}

.plan-available .plans .btn,
.plan-available .professional .btn-blue {
  display: block;
  background: hsl(237, 63%, 64%);
  padding: 15px;
  margin-top: 15px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.plan-available .professional .btn-blue {
  background: rgb(254, 254, 255);
  color: hsl(237, 63%, 64%);
}

@media screen and (max-width: 375px) {
  .plan-available {
    flex-direction: column;
  }
}
